extends ../layouts/unauth.pug

block content
  main(class="col-[main] grid grid-cols-subgrid ~pt-[8.375rem]/[14.5625rem]")
    section(class="col-span-full flex flex-col items-center") 
      h1(class="text-center text-h1 font-bold ~mb-4/12") Авторизация
      form(
        action="/api/login",
        method="post",
        class="w-full max-w-[46.875rem] space-y-5 bg-card ~px-8/12 ~py-[2.125rem]/[3.125rem]",
        novalidate="",
        data-form-success-redirect="index.html",
        data-form=""
      )
        div(class="form-control", data-form-control="")
          label(for="login", class="form-control__label") Логин
          input#login(
            type="text",
            class="form-control__input input",
            name="login",
            required="",
            autocapitalize="off",
            autocomplete="off",
            spellcheck="false"
          )
          p(class="form-control__message", data-form-control-message="")
        div(class="form-control", data-form-control="")
          label(for="password", class="form-control__label") Пароль
          input#password(
            type="password",
            class="form-control__input input",
            name="password",
            required="",
            minlength="3"
          )
          p(class="form-control__message", data-form-control-message="")
        button(type="submit", class="button !mt-10") Войти
        p(class="form-response", data-form-response="", aria-hidden="true") 
