extends ../layouts/auth

include ../../components/breadcrumbs
include ../../components/button
include ../../components/counter

block content
  main(class="col-[main] grid grid-cols-subgrid ~pt-[8.375rem]/[12.5625rem]")
    div(class="col-span-full") 
      +breadcrumbs([{href: "index.html", value: "Каталог запчастей"}, {href: "catalog-detail.html", value: "Бороны"}, {href: "equipment.html", value: "DANA БДП-6×2У"}, {href: "equipment-detail.html", value: "СБ Сница"}], "Корзина")(
        class="mb-[1.875rem]"
      )
      h1(class="text-h1 font-bold") Моя корзина
    form(
      action="/",
      method="get",
      novalidate="",
      data-form="",
      data-form-request-as-array="data",
      data-form-no-reset="",
      data-form-success-redirect="order-success.html",
      class="col-span-full grid grid-cols-subgrid bg-card-background ~mt-6/11 ~px-4/[2.375rem] ~pt-6/[2.375rem] ~pb-3/[2.375rem] md:col-[span_14] xl:col-span-10"
    )
      div(class="col-span-full mb-5 flex flex-wrap items-center justify-between gap-2")
        h5(class="text-h5 font-bold") DANA БДП-6×2У
        span(class="font-medium ~text-xs/base") 2015
      div(class="col-span-full grid grid-cols-[1fr_auto] space-y-3 sm:grid-cols-3")
        div(
          class="col-span-full grid grid-cols-subgrid border-b-2 border-border pb-2 font-medium text-description ~text-xs/sm"
        )
          div
            p Наименование детали
          div(class="col-start-3 text-right") Количество, шт
        div(
          class="col-span-full grid grid-cols-subgrid gap-x-4 gap-y-1 border-b border-border pb-2"
        )
          div(class="space-y-1 sm:contents")
            div(class="leading-[1.3] ~text-sm/base")
              p Борона зубовая центральная с катками
            div(
              class="row-start-2 text-description ~text-xs/base sm:col-start-2 sm:row-start-1 sm:text-center"
            ) 
              p 47.967.09.002
          div(class="flex justify-end") 
            input(
              type="text",
              hidden="",
              data-form-body-key="1",
              name="id",
              value="1"
            )
            +counter(name="qnt", data-form-body-key="1")
        div(
          class="col-span-full grid grid-cols-subgrid gap-x-4 gap-y-1 border-b border-border pb-2"
        )
          div(class="space-y-1 sm:contents")
            div(class="leading-[1.3] ~text-sm/base")
              p Кронштейн
            div(
              class="row-start-2 text-description ~text-xs/base sm:col-start-2 sm:row-start-1 sm:text-center"
            ) 
              p РЗЗ.09.03.020
          div(class="flex justify-end") 
            input(
              type="text",
              hidden="",
              name="id",
              data-form-body-key="2",
              value="1"
            )
            +counter(name="qnt", data-form-body-key="2")
      div(
        class="col-span-full mb-5 mt-9 flex flex-wrap items-center justify-between gap-2"
      )
        h5(class="text-h5 font-bold") DANA БДП-6×2У
        span(class="font-medium ~text-xs/base") 2015
      div(class="col-span-full grid grid-cols-[1fr_auto] space-y-3 sm:grid-cols-3")
        div(
          class="col-span-full grid grid-cols-subgrid border-b-2 border-border pb-2 font-medium text-description ~text-xs/sm"
        )
          div
            p Наименование детали
          div(class="col-start-3 text-right") Количество, шт
        div(
          class="col-span-full grid grid-cols-subgrid gap-x-4 gap-y-1 border-b border-border pb-2"
        )
          div(class="space-y-1 sm:contents")
            div(class="leading-[1.3] ~text-sm/base")
              p Борона зубовая центральная с катками
            div(
              class="row-start-2 text-description ~text-xs/base sm:col-start-2 sm:row-start-1 sm:text-center"
            ) 
              p 47.967.09.002
          div(class="flex justify-end") 
            input(
              type="text",
              hidden="",
              name="id",
              data-form-body-key="3",
              value="1"
            )
            +counter(name="qnt", data-form-body-key="3")
        div(
          class="col-span-full grid grid-cols-subgrid gap-x-4 gap-y-1 border-b border-border pb-2"
        )
          div(class="space-y-1 sm:contents")
            div(class="leading-[1.3] ~text-sm/base")
              p Кронштейн
            div(
              class="row-start-2 text-description ~text-xs/base sm:col-start-2 sm:row-start-1 sm:text-center"
            ) 
              p РЗЗ.09.03.020
          div(class="flex justify-end") 
            input(
              type="text",
              hidden="",
              name="id",
              data-form-body-key="4",
              value="1"
            )
            +counter(name="qnt", data-form-body-key="4")
      div(class="col-span-full mt-10")
        +button(type="submit")(class="max-xs:w-full") Оформить заказ
      p(
        class="col-span-full mt-6 text-destructive aria-hidden:hidden",
        aria-hidden="true",
        data-form-response=""
      )
