extends ../layouts/equipment

include ../../components/breadcrumbs

block content
  main(
    class="col-[main] grid auto-rows-max grid-cols-subgrid ~pt-[8.375rem]/[12.5625rem]"
  )
    div(class="col-span-full mb-[2.625rem]") 
      +breadcrumbs([{href: "index.html", value: "Каталог запчастей"}, {href: "catalog-detail.html", value: "Бороны"}], "DANA БДП-6×2У")(
        class="~mb-2/3"
      )
      h1(class="text-h1 font-bold") DANA БДП-6×2У
      ul(class="mt-3 flex items-center text-lg text-black/50")
        li(class="inline-flex items-center leading-none") 47.990
        li(
          class="inline-flex items-center leading-none before:mx-3 before:inline-block before:h-1 before:w-1 before:rounded-full before:bg-primary"
        ) 2015
    ul(
      class="order-2 col-span-full grid grid-cols-[auto_1fr_auto] md2:order-1 md2:col-span-7"
    )
      each part in [{id: "1", title: "Сница", article: "47.967.01", isExpandable: true, set: "1"}, {id: "2", title: "Секция центральная", article: "47.1250.02", isExpandable: true, set: "1"}, {id: "3", title: "Секция левая", article: "47.990.03", isExpandable: true, set: "1"}, {id: "4", title: "Секция правая", article: "47.990.04", isExpandable: true, set: "1"}, {id: "5", title: "Блок дисковый передний боковой", article: "47.990.05 СБ", isExpandable: true, set: "1"}, {id: "6", title: "Блок дисковый передний боковой", article: "47.990.05 СБ-01", isExpandable: true, set: "1"}, {id: "7", title: "Блок дисковый передний центральный", article: "47.990.06 СБ", isExpandable: true, set: "1"}, {id: "8", title: "Блок дисковый передний центральный", article: "47.990.06 СБ-01", isExpandable: true, set: "1"}, {id: "9", title: "Блок дисковый задний боковой", article: "47.990.07 СБ", isExpandable: true, set: "1"}, {id: "10", title: "Блок дисковый задний боковой", article: "47.990.07 СБ-01", isExpandable: true, set: "1"}, {id: "11", title: "Блок дисковый задний центральный", article: "47.990.08 СБ", isExpandable: true, set: "1"}, {id: "12", title: "Блок дисковый задний центральный", article: "47.990.08 СБ-01", isExpandable: true, set: "1"}, {id: "13", title: "Колесо центральное", article: "47.967.09.1 СБ", isExpandable: true, set: "1"}, {id: "14", title: "Колесо центральное", article: "47.967.09.1-01 СБ", isExpandable: true, set: "1"}, {id: "15", title: "Колесо боковое", article: "47.967.10 СБ", isExpandable: true, set: "1"}, {id: "16", title: "Колесо боковое", article: "47.967.10-01 СБ", isExpandable: true, set: "1"}, {id: "17", title: "Фиксатор", article: "47.967.11 СБ", isExpandable: false, set: "2"}, {id: "18", title: "Ось", article: "47.967.003", isExpandable: false, set: "1"}, {id: "19", title: "Ключ", article: "47.967.13", isExpandable: false, set: "5"}, {id: "20", title: "Борона зубовая центральная с катками", article: "47.990.14 СБ", isExpandable: true, set: "1"}, {id: "21", title: "Борона зубовая левая", article: "47.990.15. СБ", isExpandable: true, set: "1"}, {id: "22", title: "Борона зубовая левая", article: "47.990.16. СБ", isExpandable: true, set: "1"}, {id: "23", title: "Фиксатор", article: "47.990.20 СБ", isExpandable: false, set: "4"}, {id: "30", title: "Рычаг", article: "47.967.12 СБ", isExpandable: false, set: "5"}, {id: "31", title: "Ось", article: "47.967.002", isExpandable: false, set: "1"}]
        li(
          class="group relative col-span-full grid grid-cols-subgrid gap-[0.875rem] border-b border-border ~min-h-[3.5rem]/[3.75rem]",
          class={"bg-card-background": part.isExpandable},
          data-equipment-part-link=part.id
        )
          if part.isExpandable
            a(
              href="equipment-detail.html",
              class="peer absolute inset-0 z-10 transition duration-300 hover:bg-primary-foreground/20 focus:outline-none focus-visible:bg-primary-foreground/20 group-aria-[current='true']:bg-primary-foreground/20"
            )
          else
            span(
              class="absolute inset-0 z-10 transition duration-300 hover:bg-primary-foreground/20 group-aria-[current='true']:bg-primary-foreground/20"
            )
          div(
            class="flex gap-x-2 py-3 pl-5 text-description ~text-sm/base peer-hover:text-primary"
          )
            if part.isExpandable == true
              span(class="transition duration-300")
                svg(
                  width="15",
                  height="14",
                  viewBox="0 0 15 14",
                  fill="none",
                  xmlns="http://www.w3.org/2000/svg"
                )
                  path(
                    d="M8.15837 12L13 6.99996M13 6.99996L8.15837 2M13 6.99996H1",
                    stroke="currentColor",
                    stroke-width="1.5",
                    stroke-linecap="square"
                  )
            span(
              class="min-w-5 flex-1 text-right font-medium !leading-tight transition duration-300"
            )= part.id
          div(class="group flex")
            div(class="flex flex-1 flex-col py-3 text-left")
              p(
                class="font-medium !leading-tight transition duration-300 ~text-sm/base peer-hover:group-[]:text-primary"
              )= part.title
              span(class="mt-1 text-xs leading-none text-description")= part.article
          button(
            type="button",
            class="z-10 flex h-full w-16 items-center justify-center text-primary transition duration-300 hover:bg-primary hover:text-white focus:outline-none focus-visible:bg-primary focus-visible:text-white",
            data-modal-trigger="cart",
            data-modal-props="{&quot;[data-part-title]&quot;:&quot;" + part.title + "&quot;,&quot;[data-part-article]&quot;:&quot;" + part.article + "&quot;,&quot;[data-part-set]&quot;:&quot;" + part.set + "&quot;,&quot;[data-part-id-input-name]&quot;:&quot;" + part.id + "&quot;}"
          )
            span(class="mr-0.5 inline-block h-7 w-6")
              svg(
                width="27",
                height="24",
                viewbox="0 0 27 24",
                fill="none",
                xmlns="http://www.w3.org/2000/svg"
              )
                path(
                  fill-rule="evenodd",
                  clip-rule="evenodd",
                  d="M8.6031 15.4075C8.58012 15.2737 8.55684 15.1381 8.53295 15.0003C8.61393 15.0003 8.68673 15.0002 8.75566 15C8.81763 14.9999 8.87646 14.9997 8.9353 14.9997C10.1486 14.9997 11.362 14.999 12.5754 14.9983C16.2156 14.9962 19.856 14.9941 23.496 15.011C24.3082 15.0147 25.037 14.5903 25.2341 13.5697C25.7645 10.8175 26.322 8.071 26.8796 5.32422L26.9546 4.95459C27.1843 3.8202 26.5259 3.00082 25.3577 3.00082H6.40631C6.37123 2.80581 6.33668 2.61297 6.30243 2.42173C6.20922 1.90138 6.11814 1.39294 6.02405 0.885167C5.91734 0.30891 5.54574 0.00203127 4.95382 0.00140627C3.657 -0.000468756 2.35955 -0.000468756 1.06273 0.00140627C0.440686 0.00203127 0.00506454 0.407661 4.29647e-05 0.983918C-0.00497861 1.57955 0.430643 1.99831 1.06273 1.99956C2.01432 2.00143 2.96654 2.00206 3.91812 1.99831C4.07944 1.99768 4.17862 2.00768 4.2144 2.21456C4.47777 3.7344 4.74865 5.25295 5.0195 6.77137C5.12434 7.35912 5.22918 7.94685 5.33358 8.53464C5.56948 9.86404 5.80484 11.1934 6.0402 12.5228C6.36971 14.3841 6.69923 16.2454 7.03024 18.1066C7.13381 18.6898 7.50478 18.9979 8.0923 18.9991C8.77281 19.0009 9.45362 19.0005 10.1345 19.0001C10.4265 18.9999 10.7185 18.9998 11.0105 18.9998C11.7574 18.9998 12.5043 18.9999 13.2512 18.9999C16.8352 19.0004 20.4189 19.0008 24.0025 18.991C24.2379 18.9904 24.5034 18.9154 24.7018 18.7904C25.0771 18.5541 25.2002 18.0885 25.0608 17.6879C24.9064 17.2454 24.553 17.001 24.0534 17.001H9.30439C9.27894 17.001 9.25261 17.0031 9.22627 17.0052C9.16619 17.0099 9.106 17.0147 9.05582 16.9947C8.97736 16.9635 8.87128 16.8941 8.85809 16.8254C8.76694 16.3617 8.687 15.8962 8.6031 15.4075ZM7.93037 13.0822L6.59703 5.0822C6.54624 4.77743 6.78126 4.5 7.09023 4.5H24.9098C25.2187 4.5 25.4538 4.77743 25.403 5.0822L24.0696 13.0822C24.0295 13.3233 23.8209 13.5 23.5764 13.5H8.42356C8.17914 13.5 7.97055 13.3233 7.93037 13.0822Z",
                  fill="currentColor"
                )
                path(
                  d="M11.046 22.0295C11.0403 23.1333 10.1434 24.0052 9.01664 24.0008C7.89306 23.997 7.02119 23.1002 7.02935 21.957C7.03751 20.8595 7.9414 19.9951 9.07376 20.002C10.1804 20.0089 11.051 20.9045 11.0454 22.0295H11.046Z",
                  fill="currentColor"
                )
                path(
                  d="M23.0948 24.0008C21.9775 24.0001 21.0924 23.117 21.0918 22.0039C21.0918 20.8751 21.98 19.9976 23.1205 20.002C24.2328 20.0057 25.1103 20.8945 25.1078 22.0139C25.1053 23.1233 24.2152 24.002 23.0948 24.0008Z",
                  fill="currentColor"
                )
                path(
                  d="M16 6V12M19 9H13",
                  stroke="currentColor",
                  stroke-width="1.5"
                )
    div(
      class="top-[10rem] order-1 col-span-full mb-9 text-primary/80 ~sm/md2:~h-[15.625rem]/[23rem] md2:sticky md2:order-2 md2:col-[span_10/-1] md2:mb-0 md2:max-h-[calc(100svh-11rem)] md2:~md2:~h-[23rem]/[40rem] [&_rect:hover]:fill-primary/50 [&_rect[aria-current='true']]:fill-primary/50 [&_rect]:cursor-pointer [&_rect]:transition-all [&_rect]:duration-300",
      data-equipment-schema=""
    )
      svg(
        xmlns="http://www.w3.org/2000/svg",
        xmlns:xlink="http://www.w3.org/1999/xlink",
        width="100%",
        height="100%",
        viewbox="0 0 1510 1081",
        fill="none"
      )
        image(
          data-name="schema-1.webp",
          width="1510",
          height="1080",
          xlink:href="assets/img/schema-1.webp"
        )
        rect#img-rect-3(
          x="816",
          y="1034",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-5(
          x="1043",
          y="1034",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-15(
          x="1248",
          y="926",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-9(
          x="1347",
          y="897",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-13(
          x="947",
          y="638",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-17(
          x="1015",
          y="582",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-21(
          x="1457",
          y="384",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-11(
          x="1290",
          y="360",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-20(
          x="1118",
          y="230",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-12(
          x="816",
          y="123",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-14(
          x="556",
          y="383",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-22(
          x="509",
          y="0",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-10(
          x="71",
          y="0",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-16(
          x="71",
          y="123",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-4(
          x="16",
          y="503",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-8(
          x="16",
          y="598",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-19(
          x="12",
          y="697",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-18(
          x="12",
          y="862",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-30(
          x="8",
          y="959",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-31(
          x="12",
          y="1034",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-32(
          x="206",
          y="1034",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-6(
          x="16",
          y="415",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-7(
          x="685",
          y="1034",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-2(
          x="561",
          y="1035",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-23(
          x="461",
          y="1034",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
        rect#img-rect-1(
          x="365",
          y="1034",
          width="45",
          height="45",
          stroke="currentColor",
          tabindex="0",
          stroke-width="2",
          fill="transparent"
        )
