extends ../layouts/root

include ../../components/input

block content
  main(class="col-[main] grid grid-cols-subgrid ~pt-[8.375rem]/[12.5625rem]")
    section(class="col-[span_15]")
      h1(class="mb-9 text-h1 font-bold") Результаты поиска
      form(action="search.html")
        div(class="relative")
          +input(
            type="text",
            name="q",
            placeholder="Название детали",
            enterkeyhint="search",
            class="!h-16 !px-7 !pr-16 text-xl font-medium",
            data-field-with-search-params=""
          )
          div(
            class="pointer-events-none absolute inset-y-0 right-5 inline-flex items-center justify-center"
          )
            span(class="h-8 w-8")
              svg(
                width="100%",
                height="100%",
                viewbox="0 0 23 23",
                fill="none",
                xmlns="http://www.w3.org/2000/svg"
              )
                path(
                  fill-rule="evenodd",
                  clip-rule="evenodd",
                  d="M13.3919 13.0945L18.4222 18.1246L18.4221 15.889L14.4453 11.9121C15.1105 10.9328 15.4948 9.74817 15.4836 8.47478C15.4543 5.14466 12.731 2.46883 9.40085 2.49815C6.07073 2.52746 3.3949 5.25081 3.42421 8.58093C3.45353 11.911 6.17688 14.5869 9.507 14.5576C10.993 14.5445 12.3487 13.995 13.3919 13.0945ZM9.4894 12.5576C7.26381 12.5772 5.44373 10.7889 5.42414 8.56333C5.40455 6.33774 7.19286 4.51766 9.41845 4.49807C11.644 4.47848 13.4641 6.26679 13.4837 8.49239C13.5033 10.718 11.715 12.5381 9.4894 12.5576Z",
                  fill="currentColor"
                )
        p(class="mt-5 text-lg text-description") Нашлось 3 результата
      ul(class="mt-[4.5rem]")
        li(class="")
          h3(class="text-h3 font-bold") Плуг (РЗЗ.05.03.000-06)
