mixin catalog-item(href, title, img, description)
  article(class="group relative bg-black/5 font-ptRoot ~p-5/6")
    a(href=href, class="absolute inset-0 z-10")
    div(class="mb-2 flex items-baseline justify-between gap-x-6")
      h3(class="text-h3 font-medium")= title
      span(class="flex items-center text-primary")
        svg(
          class="transition-all duration-300 group-hover:translate-x-1",
          width="9",
          height="12",
          viewbox="0 0 9 12",
          fill="currentColor",
          xmlns="http://www.w3.org/2000/svg"
        )
          path(
            d="M1.07108e-07 1.23978e-05L5.65685 5.65687L0 11.3137L2.82843 11.3137L8.48524 5.65682L2.82843 1.23978e-05H1.07108e-07Z"
          )
        svg(
          class="-translate-x-[0.18rem] transition-all duration-300 group-hover:translate-x-[0.35rem]",
          width="9",
          height="12",
          viewbox="0 0 9 12",
          fill="currentColor",
          xmlns="http://www.w3.org/2000/svg"
        )
          path(
            d="M1.07108e-07 1.23978e-05L5.65685 5.65687L0 11.3137L2.82843 11.3137L8.48524 5.65682L2.82843 1.23978e-05H1.07108e-07Z"
          )
    div(
      class="flex items-center justify-center overflow-hidden ~sm/[53.125rem]:~h-[13rem]/[24rem] @[49.65rem]:~min-[53.125rem]:~h-[16rem]/[25rem]"
    )
      img(
        src=img,
        alt="",
        class="w-full object-contain brightness-95 transition-all duration-300 group-hover:scale-105"
      )
    p(class="mt-2 text-description")!= description
