include ./counter

mixin dialog-cart
  template#cart
    div(
      class="group fixed inset-0 z-20 grid place-items-end overflow-hidden sm:place-items-center",
      data-modal-root="cart"
    )
      div(
        class="max-h-svh w-full max-w-[46.875rem] animate-modalOpen overflow-auto bg-card-background ~px-[1.25rem]/[3.125rem] ~pt-[1.5rem]/[1.875rem] ~pb-[1.875rem]/[3.375rem] group-aria-hidden:animate-modalClose",
        data-modal-wrapper=""
      )
        div(class="flex items-center justify-between")
          div(class="flex flex-wrap items-center gap-3 text-sm")
            span DANA БДП-6×2У
            span 2015
          button(
            type="button",
            class="inline-flex h-[0.875rem] w-[0.875rem] items-center justify-center",
            data-modal-close=""
          )
            svg(
              width="100%",
              height="100%",
              viewbox="0 0 16 16",
              fill="none",
              xmlns="http://www.w3.org/2000/svg"
            )
              path(
                d="M1 1L15 15M15 1L1 15",
                stroke="currentColor",
                stroke-width="2"
              )
        h2(class="mt-2 font-bold ~text-[1.375rem]/[2rem]", data-part-title="")
        p(class="mt-2 leading-none text-muted", data-part-article="")
        form(
          action="/",
          method="get",
          data-form="",
          novalidate="",
          data-form-no-reset="",
          data-form-success-set-cart-counter="cartCount",
          class="bg-border/25 px-8 py-5 ~mt-[1.25rem]/[1.625rem]"
        )
          div(
            class="flex items-center justify-between gap-x-4 gap-y-1 border-b border-border pb-3"
          )
            div
              input(type="text", hidden="", name="id", data-part-id="")
              +counter(name="qnt", data-part-initial-count="")
            div
              button(
                type="submit",
                class="button w-full aria-hidden:hidden sm:w-auto",
                data-form-success-submitter-replace="to-cart",
                aria-hidden="false"
              ) Добавить в корзину
              a#to-cart(
                href="cart.html",
                class="button w-full aria-hidden:hidden sm:w-auto",
                aria-hidden="true"
              ) В корзине
          div(
            class="mt-3 flex items-baseline justify-between text-description ~text-sm/base"
          )
            p Запчастей в стандартной комплектации
            span(class="font-medium", data-part-set="") 
        div(class="mt-5 flex items-center justify-between", data-parent-to-remove="")
          a(href="#", class="button outlined", data-part-nested-href="") Перейти к детали →
          p(class="text-description") Деталь содержит
            | #{ " " }
            span(data-part-nested="")
      span(tabindex="0", class="focus-guard", data-focus-guard="")
