include ./button

mixin dialog-search
  template#search
    div(
      class="group fixed inset-0 z-20 grid overflow-hidden sm:place-items-center",
      data-modal-root="search"
    )
      div(
        class="h-full max-h-svh w-full animate-modalOpen overflow-auto bg-card-background ~px-[1.25rem]/[3.125rem] ~pt-[1.5rem]/[1.875rem] ~pb-[1.875rem]/[3.375rem] group-aria-hidden:animate-modalClose",
        data-modal-wrapper=""
      )
        div(class="flex items-center justify-end")
          button(
            type="button",
            class="inline-flex h-[0.875rem] w-[0.875rem] items-center justify-center",
            data-modal-close=""
          )
            svg(
              width="100%",
              height="100%",
              viewbox="0 0 16 16",
              fill="none",
              xmlns="http://www.w3.org/2000/svg"
            )
              path(
                d="M1 1L15 15M15 1L1 15",
                stroke="currentColor",
                stroke-width="2"
              )
        form(action="search.html", class="relative mt-5")
          div(class="relative z-10 h-[2.875rem]")
            +input(
              type="text",
              name="q",
              placeholder="Название детали",
              autofocus="",
              inputmode="search",
              enterkeyhint="search",
              autocomplete="off",
              data-suggestions-focus-events-disabled="",
              data-suggestions-action="/api/search",
              data-suggestions-menu="search-suggestions-menu-mobile",
              class="!h-full !px-5 !pr-14"
            )
            span(
              class="pointer-events-none absolute inset-y-0 right-5 inline-flex items-center justify-center"
            )
              svg(
                width="23",
                height="23",
                viewbox="0 0 23 23",
                fill="none",
                xmlns="http://www.w3.org/2000/svg"
              )
                path(
                  fill-rule="evenodd",
                  clip-rule="evenodd",
                  d="M13.3919 13.0945L18.4222 18.1246L18.4221 15.889L14.4453 11.9121C15.1105 10.9328 15.4948 9.74817 15.4836 8.47478C15.4543 5.14466 12.731 2.46883 9.40085 2.49815C6.07073 2.52746 3.3949 5.25081 3.42421 8.58093C3.45353 11.911 6.17688 14.5869 9.507 14.5576C10.993 14.5445 12.3487 13.995 13.3919 13.0945ZM9.4894 12.5576C7.26381 12.5772 5.44373 10.7889 5.42414 8.56333C5.40455 6.33774 7.19286 4.51766 9.41845 4.49807C11.644 4.47848 13.4641 6.26679 13.4837 8.49239C13.5033 10.718 11.715 12.5381 9.4894 12.5576Z",
                  fill="currentColor"
                )
          #search-suggestions-menu-mobile(
            class="mt-7 transition-all duration-300 aria-hidden:invisible aria-hidden:opacity-0",
            aria-hidden="true"
          )
            div(class="flex flex-col items-start", data-suggestions-container="")
            template(data-suggestions-empty="")
              p(class="") Ничего не найдено
            template(data-suggestions-item="")
              a(
                href="equipment.html",
                class="w-full py-3 focus:outline-none focus-visible:bg-primary/20"
              ) 
            button(
              type="submit",
              class="mb-4 mt-3 text-primary aria-hidden:hidden",
              data-suggestions-all-results=""
            ) Все результаты
      span(tabindex="0", class="focus-guard", data-focus-guard="")
