mixin filters
  div(class="flex flex-wrap items-center border-b-2 border-primary pb-4 ~gap-x-10/12")&attributes(attributes)
    div(class="relative", data-custom-select="", data-action="/api/filter.php")
      select(name="filter-1", hidden="", data-custom-select-input="")
        option(value="1") 1
        option(value="2") 2
        option(value="4") 4
      button(
        type="button",
        class="inline-flex items-baseline gap-2 py-3 font-medium leading-none",
        data-custom-select-trigger=""
      )
        span
          svg(
            width="12",
            height="8",
            viewbox="0 0 12 8",
            fill="none",
            xmlns="http://www.w3.org/2000/svg"
          )
            path(d="M1 1L6 6L11 1", stroke="currentColor", stroke-width="2")
        span Количество рядов
      div(
        class="absolute top-full overflow-hidden rounded-md bg-card transition-all duration-300 aria-hidden:invisible aria-hidden:top-[60%] aria-hidden:opacity-0",
        aria-hidden="true",
        data-custom-select-content=""
      )
        input(
          type="text",
          placeholder="Поиск",
          class="border-b border-black/30 bg-transparent px-4 py-1.5 text-sm placeholder:text-black/40 focus:outline-none",
          data-custom-select-search=""
        )
        div(class="py-1")
          button(
            type="button",
            class="h-full w-full px-4 py-0.5 text-left font-ptRoot text-sm text-black/40 transition-all duration-300 hover:text-black aria-checked:text-black aria-hidden:hidden",
            data-custom-select-option=""
          ) 1
          button(
            type="button",
            class="h-full w-full px-4 py-0.5 text-left font-ptRoot text-sm text-black/40 transition-all duration-300 hover:text-black aria-checked:text-black aria-hidden:hidden",
            data-custom-select-option=""
          ) 2
          button(
            type="button",
            class="h-full w-full px-4 py-0.5 text-left font-ptRoot text-sm text-black/40 transition-all duration-300 hover:text-black aria-checked:text-black aria-hidden:hidden",
            data-custom-select-option=""
          ) 4
          span(
            data-custom-select-empty="",
            class="px-4 py-0.5 font-ptRoot text-sm text-black/40 aria-hidden:hidden",
            aria-hidden="true"
          ) Ничего не найдено
        span(class="focus-guard", data-focus-guard="", tabindex="0")
