mixin submenu
  div(
    class="absolute inset-x-0 top-0 z-10 h-svh overflow-auto bg-background transition-all duration-300 ~pt-20/32 aria-hidden:invisible aria-hidden:pt-0 aria-hidden:opacity-0",
    data-submenu="",
    aria-hidden="true"
  ) 
    div(class="main-container")
      div(
        class="col-[main] grid grid-cols-subgrid gap-x-6 ~gap-y-[2.5rem]/[5rem] ~pb-[2.5rem]/[3.75rem]"
      )
        div(class="col-span-full sm:col-span-9 md2:col-span-6 xl:col-span-4")
          h4(class="mb-5 text-h4 font-medium") Бороны
          ul(class="space-y-3")
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Дисковые двухрядные бороны
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Дисковые четырехрядные бороны
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Бороны-мульчировщики
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Бороны дисковые тяжелые
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Бороны пружинные средние
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Бороны пружинные тяжелые
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Сцепки борон односледные
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Сцепки борон двуследные
        div(class="col-span-full sm:col-span-9 md2:col-span-6 xl:col-span-4")
          h4(class="mb-5 text-h4 font-medium") Плуги
          ul(class="space-y-3")
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Плуги лемешные навесные
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Плуги лемешные полунавесные
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Плуги лемешные полуприцепные
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Плуги оборотные навесные
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Плуги оборотные полунавесные
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Плуги чизельные навесные
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Плуги чизельные полуприцепные
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Плоскорезы навесные
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Плоскорезы полуприцепные
        div(class="col-span-full sm:col-span-9 md2:col-span-6 xl:col-span-4")
          h4(class="mb-5 text-h4 font-medium") Катки
          ul(class="space-y-3")
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Сцепки катков
        div(
          class="col-span-full row-start-3 sm:col-span-9 sm:row-start-2 md2:col-span-6 xl:col-span-4"
        )
          h4(class="mb-5 text-h4 font-medium") Культиваторы
          ul(class="space-y-3")
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Предпосевные культиваторы
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Культиваторы чизельные дисковые
        div(class="col-span-full row-start-2 sm:col-span-9 md2:col-span-6 xl:col-span-4")
          h4(class="mb-5 text-h4 font-medium") Сеялки
          ul(class="space-y-3")
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Сеялки зернотуковые
            li
              a(
                href="catalog-detail.html",
                class="py-2 transition-all duration-300 hover:text-primary"
              ) Сцепка прицепная универсальная
      span(class="focus-guard", tabindex="0", data-focus-guard="")
